mysql-connector-python
python-dotenv
pandas
numpy
joblib
Flask
Flask-JWT-Extended
Flask-SQLAlchemy
Flask-CORS
requests
Werkzeug
python-dotenv
numpy
pymysql
scikit-learn
torch
torchvision
Pillow
pyserial
twilio